<!-- title -->
<div class="module red">
  <div class="inner title">
    <h1 id="title">Zu welchem Gerät benötigten Sie Hilfe?</h1>

    <div style="clear:both;">
      <div></div>
    </div>
  </div>

  <div style="clear:both;">
    <div></div>
  </div>
</div>

<!-- content -->
<div id="id_content">
  <div class="overview module" *ngIf="!produktslug">
    <div class="white">
      <div class="inner" id="outlet"></div>


      <div style="clear:both;">
        <div></div>
      </div>
    </div>
  </div>
  <div class="produkt" *ngIf="produktslug">
    <div class="white">
      <div class="inner">
        <section class="slider" id="id_main_slider"></section>

        <div class="accordeon-wrapper">
          <ul class="accordeon">
            <li>
              <input type="checkbox" class="accordeon-checkbox" checked="" />
              <a href="javascript:void(0);" class="accordeon-link">Das Gerät geht plötzlich aus</a>
              <div class="content">
                <div class="content-inner">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </p>

                  <div class="video-wrapper">
                    <video controls="" src="test.mp4" type="video/mp4"></video>
                  </div>

                  <div style="clear: both;">
                    <div></div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <input type="checkbox" class="accordeon-checkbox" checked="" />
              <a href="javascript:void(0);" class="accordeon-link">Das Gerät pfeift im Betrieb</a>
              <div class="content">
                <div class="content-inner">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </p>

                  <div style="clear: both;">
                    <div></div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <input type="checkbox" class="accordeon-checkbox" checked="" />
              <a href="javascript:void(0);" class="accordeon-link">Die Scheibe ist dreckig</a>
              <div class="content">
                <div class="content-inner">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </p>

                  <div style="clear: both;">
                    <div></div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <input type="checkbox" class="accordeon-checkbox" checked="" />
              <a href="javascript:void(0);" class="accordeon-link">Das Gerät brennt</a>
              <div class="content">
                <div class="content-inner">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </p>

                  <div style="clear: both;">
                    <div></div>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <input type="checkbox" class="accordeon-checkbox" checked="" />
              <a href="javascript:void(0);" class="accordeon-link">Die Reifen machen meinen Teppich dreckig</a>
              <div class="content">
                <div class="content-inner">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </p>

                  <div style="clear: both;">
                    <div></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <section class="help last-resort">
          <h4>Sie konnten keine Lösung finden</h4>
          <p>Rufen sie uns an oder chatten sie mit uns</p>

          <p class="helpline">0180-520020641</p>
          <img src="assets/Icon.png" class="eastern" style="display:none" />
        </section>

      </div>
      <div style="clear:both;">
        <div></div>
      </div>
    </div>
  </div>
  <div class="module white">
    <div class="inner">
      <div class="centered">
        <a [routerLink]="['../']" id="back" class="btn">Zurück</a>
      </div>
    </div>
  </div>
  <!-- image -->
  <div class="module full">
    <img src="https://diesdas.codersunlimited.de/diesdas/assets/images/_temp/image.jpg" alt="image" width="" height=""
      (load)="onload()" />
  </div>
  <!-- image end -->

  <!-- image -->
  <div class="module black">
    <div class="inner inner-intended">
      <div class="left">
        <div class="inner-small">
          <h3>Newsletter</h3>

          <p>
            Melden Sie sich jetzt unverbindlich für unseren Newsletter an, um keine Highlights mehr zu verpassen. Wir
            halten Sie mit Produktneuheiten, Gerken Highlights, Rabattaktionen und vielen Weiteren Informationen auf dem
            Laufenden!
          </p>
        </div>
      </div>

      <div class="right">
        <div class="inner-small">
          <form>
            <input type="email" name="email" placeholder="E-Mail" />

            <div class="radio-checkbox-wrapper">
              <label>Durch Absenden dieses Formulars erklärst Du dich mit der
                Speicherung und Verarbeitung Deiner Daten einverstanden.
                <a href="#">Weitere Informationen zum Datenschutz</a>.
                <input type="checkbox" name="DSGVO" value="OK" required="required" />
                <span class="checkmark checkmark-checkbox"></span>
              </label>
              <div style="clear:both;">
                <div></div>
              </div>
            </div>

            <input type="submit" name="submit" value="Abonnieren" />
          </form>
        </div>
      </div>

      <div style="clear:both;">
        <div></div>
      </div>
    </div>
  </div>
  <!-- image end -->

  <div style="clear:both;">
    <div></div>
  </div>
</div>