<!-- footer -->
<!--
<div id="id_footer">
  <div class="grey">
    <div class="inner">
      <ul class="social-media" id="footer1b">
        <li>
          <a href="#" title="Xing" class="xing" target="_blank"
            ><span>Xing</span></a
          >
        </li>
        <li>
          <a href="#" title="Instagram" class="instagram" target="_blank"
            ><span>Instagram</span></a
          >
        </li>
        <li>
          <a href="#" title="LinkedIn" class="linkedin" target="_blank"
            ><span>LinkedIn</span></a
          >
        </li>
        <li>
          <a href="#" title="YouTube" class="youtube" target="_blank"
            ><span>YouTube</span></a
          >
        </li>
      </ul>

      <div style="clear:both;"><div></div></div>
    </div>
  </div>

  <div class="red">
    <div class="inner">
      <ul id="footer2b">
        <li>
          <a href="#" title="AGB" (load)="refresh()" id="testmarker">TEST</a>
        </li>
        <li><a href="#" title="Datenschutz">TEST</a></li>
        <li><a href="#" title="Impressum">TEST</a></li>
      </ul>

      <div style="clear:both;"><div></div></div>
    </div>
  </div>
</div>
-->

<!-- footer -->
<div id="id_footer">
  <div class="black">
    <div class="inner">
      <ul class="social-media" id="footer1b">
        <li>
          <a href="#" title="Xing" class="xing" target="_blank"
            ><span>Xing</span></a
          >
        </li>
        <li>
          <a href="#" title="Instagram" class="instagram" target="_blank"
            ><span>Instagram</span></a
          >
        </li>
        <li>
          <a href="#" title="LinkedIn" class="linkedin" target="_blank"
            ><span>LinkedIn</span></a
          >
        </li>
        <li>
          <a href="#" title="YouTube" class="youtube" target="_blank"
            ><span>YouTube</span></a
          >
        </li>
      </ul>

      <div style="clear:both;"><div></div></div>
    </div>
  </div>

  <div class="red">
    <div class="inner">
      <ul id="footer2b">
        <li>
          <a href="#" title="AGB" (load)="refresh()" id="testmarker">TEST</a>
        </li>
        <li><a href="#" title="Datenschutz">Datenschutz</a></li>
        <li><a href="#" title="Impressum">Impressum</a></li>
      </ul>

      <div style="clear:both;"><div></div></div>
    </div>
  </div>
</div>
