<!-- modals-->
<div class="modal" id="id_modal_miethistorie" style="display: none;">
  <div id="miethistorie_form">
    <div class="box-head">
      <h3>Mietdauer wählen</h3>
    </div>
    <div class="inner-extra-intended">
      <form>
        <p>Bitte wählen Sie den gewünschten Lieferzeitpunkt aus:</p>
        <h6>Ende der Miete</h6>
        <div id="mietende1_miethistorie">
          <div class="left">
            <input
              type="date"
              id="ende_miethistorie"
              name="xxx"
              placeholder="tt.mm.yyyy"
              (change)="timeAdjust_miethistorie()"
            />
          </div>
          <div class="right">
            <input
              type="time"
              id="ende-zeit_miethistorie"
              (change)="timeAdjust_miethistorie()"
            />
          </div>
        </div>
        <div style="clear:both;"><div></div></div>
        <div class="radio-checkbox-wrapper" id="mietende2_miethistorie">
          <label class="with-info"
            >Ende der Miete offen
            <a
              data-fancybox
              data-src="#id_modal_info_miethistorie"
              href="javascript:void(0);"
              class="info"
              ><span>Info</span></a
            >
            <input
              type="checkbox"
              name="xxx"
              value="OK"
              id="the_end_miethistorie"
              (change)="timeAdjust_miethistorie()"
            />
            <span class="checkmark checkmark-checkbox"></span>
          </label>
          <div style="clear:both;"><div></div></div>
        </div>
        <a href="javascript:$.fancybox.close();" class="btn">Speichern</a>
      </form>
    </div>
    <div class="info-box" id="hinweis_miethistorie" style="display:none">
      <h6>Hinweis</h6>
      <p>
        Innerhalb Ihres angegebenen Mietzeitraumes befinden sich ein oder
        mehrere Wochenenden (Feiertage) - Möchten Sie das Gerät auch am
        Wochenende (Feiertag) nutzen?
      </p>
      <div class="radio-checkbox-wrapper">
        <label
          >Nutzung auch am Wochenende
          <input
            type="checkbox"
            name="xxx"
            value="OK"
            id="hinweis_check_miethistorie"
            (change)="timeAdjust_miethistorie()"
          />
          <span class="checkmark checkmark-checkbox"></span>
        </label>
        <div style="clear:both;"><div></div></div>
      </div>
    </div>
  </div>
  <div id="nomore">
    <div class="box-head">
      <h3>Mietdauer wählen</h3>
    </div>
    <div class="inner-extra-intended">
      <form>
        <p>
          Das Ende dieser Miete ist offen. Ein Verlängern ist deswegen nicht
          möglich.
        </p>
      </form>
    </div>
  </div>
</div>
<div class="modal" id="id_modal_info">
  <h3>Lorem ipsum dolor sit amet</h3>

  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
    amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
    diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
    amet.
  </p>

  <div style="clear:both;"><div></div></div>
</div>

<div class="modal" id="id_modal_info_miethistorie">
  <h3>Lorem ipsum dolor sit amet</h3>

  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
    amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
    diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
    amet.
  </p>

  <div style="clear:both;"><div></div></div>
</div>

<div id="uneingeloggt1" style="display:block">
  <!-- title -->
  <div class="module red">
    <div class="inner title">
      <h1>Arbeitsbühnen mieten</h1>
      <!--
        <div id="id_title_image">
          
          <img src="images/_temp/product-group-thumbnail.jpg" />
          
        </div>
        -->
      <div style="clear:both;"><div></div></div>
    </div>

    <div style="clear:both;"><div></div></div>
  </div>
</div>
<div id="reset1" style="display:none">
  <!-- title -->
  <div class="module red">
    <div class="inner title">
      <h1>Arbeitsbühnen mieten</h1>
      <!--
  <div id="id_title_image">
    
    <img src="images/_temp/product-group-thumbnail.jpg" />
    
  </div>
  -->
      <div style="clear:both;"><div></div></div>
    </div>

    <div style="clear:both;"><div></div></div>
  </div>
</div>
<div id="eingeloggt1" style="display:none">
  <!-- title -->
  <div class="module red" id="miethistorie_aktuell3">
    <div class="inner title">
      <h1>Neues Produkt finden</h1>

      <div style="clear:both;"><div></div></div>
    </div>

    <div style="clear:both;"><div></div></div>
  </div>
</div>
<div id="approve1" style="display:none">
  <!-- title -->
  <div class="module red">
    <div class="inner title">
      <h1>Arbeitsbühnen mieten</h1>

      <div style="clear:both;"><div></div></div>
    </div>

    <div style="clear:both;"><div></div></div>
  </div>
</div>
<div id="reset3" style="display:none">
  <!-- title -->
  <div class="module red">
    <div class="inner title">
      <h1>Neues Passwort setzen</h1>

      <div style="clear:both;"><div></div></div>
    </div>

    <div style="clear:both;"><div></div></div>
  </div>
</div>

<!-- content -->
<div id="id_content">
  <div id="uneingeloggt2" style="display:block">
    <!-- module -->
    <div class="module">
      <form action="/">
        <div class="inner inner-extra-intended">
          <div class="boxed">
            <div class="box-head">
              <h3>Login</h3>
            </div>
            <div id="loginform">
              <p id="doi1"></p>
              <label>Username</label>

              <input
                type="text"
                id="username"
                name="username"
                placeholder="Enter username"
              />

              <label>Password</label>

              <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter password"
              />
              <div class="centered">
                <div class="flex-wrapper">
                  <input
                    type="submit"
                    name="submit"
                    (click)="login()"
                    id="login"
                    value="Jetzt anmelden"
                  />
                  <a
                    data-fancybox=""
                    data-src="#id_modal_info"
                    data-options='{"touch" : false}'
                    href="javascript:void(0);"
                    class="info"
                    ><span>Info</span></a
                  >
                </div>
                <p>
                  Noch nicht registriert?
                  <a [routerLink]="['/registrierung']">Hier</a> klicken<br />
                  <a
                    (click)="password_reset_open()"
                    href="javascript:void(0);"
                    class="reset"
                    >Passwort vergessen</a
                  >?
                </p>
              </div>
              <div style="clear:both;"><div></div></div>
            </div>
          </div>
        </div>

        <div class="white">
          <div class="inner">
            <div class="inner-small login-submit">
              <div style="clear:both;"><div></div></div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- module end -->
    <!-- module -->
    <div class="module centered lightgrey">
      <div class="inner">
        <div class="negative-margin" style="margin-top:0px">
          <img
            src="https://diesdas.codersunlimited.de/diesdas/assets/images/login.png"
          />

          <a [routerLink]="['/mietprozess']" class="btn"
            >Jetzt neues Produkt finden</a
          >

          <p class="small">
            *Preise im Produkt- und Mietpreisfinder<br />
            können von Industriepreisen nach<br />
            der Registrierung abweichen.
          </p>
        </div>

        <div style="clear:both;"><div></div></div>
      </div>
    </div>
    <!-- module end -->
  </div>
  <div id="eingeloggt2" style="display:none">
    <!-- module -->
    <div class="module centered lightgrey">
      <div class="inner">
        <div class="negative-margin" style="margin-top:0px">
          <img
            src="https://diesdas.codersunlimited.de/diesdas/assets/images/login.png"
          />

          <a [routerLink]="['/mietprozess']" class="btn"
            >Jetzt neues Produkt finden</a
          >

          <p class="small">
            *Preise im Produkt- und Mietpreisfinder<br />
            können von Industriepreisen nach<br />
            der Registrierung abweichen.
          </p>
        </div>

        <div style="clear:both;"><div></div></div>
      </div>
    </div>
    <!-- module end -->
    <!-- module -->
    <div class="module red" id="miethistorie_aktuell2">
      <div class="inner">
        <h2>Ihre aktuellen Mietgeräte</h2>
        <p id="doi2"></p>
        <div id="miethistorie_aktuell">
          <div class="product">
            <div class="product-image">
              <img
                src="https://diesdas.codersunlimited.de/diesdas/assets/images/_temp/product.jpg"
              />
            </div>

            <div class="product-text">
              <p>
                <strong
                  >Lorem ipsum dolor sit amet, consetetur sadipscing</strong
                ><br />
                Sed diam nonumy eirmod tempor invidunt ut labore et dolore
              </p>
            </div>

            <div class="product-actions">
              <a [routerLink]="['/produktdetailseite']" class="btn">Details</a>

              <a [routerLink]="['/mietprozess', 'miethistorie']" class="btn"
                >Erneut mieten</a
              >
            </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="https://diesdas.codersunlimited.de/diesdas/assets/images/_temp/product.jpg"
              />
            </div>

            <div class="product-text">
              <p>
                <strong
                  >Lorem ipsum dolor sit amet, consetetur sadipscing</strong
                ><br />
                Sed diam nonumy eirmod tempor invidunt ut labore et dolore
              </p>
            </div>

            <div class="product-actions">
              <a [routerLink]="['/produktdetailseite']" class="btn">Details</a>

              <a [routerLink]="['/mietprozess', 'miethistorie']" class="btn"
                >Erneut mieten</a
              >
            </div>
          </div>
        </div>
        <div class="more-wrapper" id="aktuell">
          <a (click)="loadAllMiethistorie('aktuell')" class="more"
            >Alle anzeigen</a
          >
        </div>
        <div class="more-wrapper" id="aktuell_weniger" style="display:none">
          <a (click)="loadAllMiethistorie2('aktuell')" class="less pointi"
            >Weniger anzeigen</a
          >
        </div>

        <div style="clear:both;"><div></div></div>
      </div>
      <div class="module darkgrey">
        <div class="inner title">
          <!--
        <a
          data-fancybox
          data-src="#id_modal_info"
          data-options='{"touch" : false}'
          href="javascript:void(0);"
          class="help"
          >Hilfe bei Problemen</a
        >
        -->
          <a [routerLink]="['faq']" class="btn">Hilfe bei Problemen</a>
          <div style="clear:both;"><div></div></div>
        </div>

        <div style="clear:both;"><div></div></div>
      </div>
    </div>
    <!-- module end -->

    <!-- module -->
    <div class="module lightgrey" id="miethistorie_vergangen2">
      <div class="inner">
        <h2>Ihre Miethistorie</h2>
        <div id="miethistorie_vergangen">
          <div class="product">
            <div class="product-image">
              <img
                src="https://diesdas.codersunlimited.de/diesdas/assets/images/_temp/product.jpg"
              />
            </div>

            <div class="product-text">
              <p>
                <strong
                  >Lorem ipsum dolor sit amet, consetetur sadipscing</strong
                ><br />
                Sed diam nonumy eirmod tempor invidunt ut labore et dolore
              </p>
            </div>

            <div class="product-actions">
              <a href="#" class="btn">Details</a>

              <a href="#" class="btn">Erneut mieten</a>
            </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="https://diesdas.codersunlimited.de/diesdas/assets/images/_temp/product.jpg"
              />
            </div>

            <div class="product-text">
              <p>
                <strong
                  >Lorem ipsum dolor sit amet, consetetur sadipscing</strong
                ><br />
                Sed diam nonumy eirmod tempor invidunt ut labore et dolore
              </p>
            </div>

            <div class="product-actions">
              <a href="#" class="btn">Details</a>

              <a href="#" class="btn">Erneut mieten</a>
            </div>
          </div>
        </div>
        <div class="more-wrapper" id="vergangen">
          <a (click)="loadAllMiethistorie('vergangen')" class="more"
            >Alle anzeigen</a
          >

          <div style="clear:both;"><div></div></div>
        </div>
        <div class="more-wrapper" id="vergangen_weniger" style="display:none">
          <a (click)="loadAllMiethistorie2('vergangen')" class="less pointi"
            >Weniger anzeigen</a
          >
        </div>
      </div>
      <!-- module end -->

      <div class="white">
        <div class="inner">
          <div class="inner-small login-submit">
            <div style="clear:both;"><div></div></div>
          </div>
        </div>
      </div>
    </div>

    <div style="clear:both;"><div></div></div>
    <input type="hidden" value="Startseite" id="Startseite" />
  </div>
  <div id="reset2" style="display:none">
    <!-- module -->
    <div class="module">
      <form action="/">
        <div class="inner inner-extra-intended">
          <div class="boxed" id="resetform">
            <div class="box-head">
              <h3>Passwort vergessen</h3>
            </div>
            <label>Username</label>

            <input type="text" id="reset_username" name="reset_username" />

            <label>Vorname</label>

            <input type="text" id="reset_vorname" name="reset_vorname" />

            <label>Nachname</label>

            <input type="text" id="reset_nachname" name="reset_nachname" />

            <div class="centered">
              <div class="flex-wrapper">
                <input
                  type="submit"
                  name="submit"
                  (click)="reset()"
                  id="reset"
                  value="Passwort zurücksetzen"
                />
              </div>
              <p>
                Noch nicht registriert?
                <a [routerLink]="['/registrierung']">Hier</a> klicken<br />
                <a
                  (click)="password_reset_close()"
                  href="javascript:void(0);"
                  class="reset"
                  >Einloggen</a
                >?
              </p>
            </div>
            <div style="clear:both;"><div></div></div>
          </div>
        </div>

        <div class="white">
          <div class="inner">
            <div class="inner-small login-submit">
              <div style="clear:both;"><div></div></div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- module end -->
  </div>
  <div id="approve2" style="display:none">
    <!-- module -->
    <div class="module full">
      <form action="/">
        <div class="red">
          <div class="inner">
            <div class="inner-small login-form" id="approveform"></div>
            <label id="doi_output">DOI OUTPUT</label>
            <label>Username</label>

            <input type="text" id="username17" name="username" />

            <label>Password</label>

            <input type="password" id="password17" name="password" />
          </div>

          <div style="clear:both;"><div></div></div>
        </div>

        <div class="white">
          <div class="inner">
            <div class="inner-small login-submit">
              <!--<input type="submit" name="submit" [routerLink]="['/eingeloggt']" value="Jetzt anmelden" />-->
              <div class="flex-wrapper">
                <input
                  type="submit"
                  name="submit"
                  (click)="login2()"
                  id="login2"
                  value="Jetzt anmelden"
                />
                <a
                  data-fancybox=""
                  data-src="#id_modal_info"
                  data-options='{"touch" : false}'
                  href="javascript:void(0);"
                  class="info"
                  ><span>Info</span></a
                >
              </div>
              <p>
                Noch nicht registriert?
                <a [routerLink]="['/registrierung']">Hier</a> klicken<br />
                <a (click)="password_reset_open()" class="reset"
                  >Passwort vergessen</a
                >?
              </p>

              <div style="clear:both;"><div></div></div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- module end -->
  </div>

  <div id="reset4" style="display:none">
    <!-- module -->
    <div class="module">
      <form action="/">
        <div class="inner inner-extra-intended">
          <div class="boxed">
            <div class="box-head">
              <h3>Passwort zurücksetzen</h3>
            </div>
            <div id="approveform"></div>
            <p id="resultreset"></p>
            <label>Password</label>

            <input type="password" id="password2" name="password2" />

            <label>Password Wiederholung</label>

            <input type="password" id="password3" name="password3" />

            <div class="centered">
              <div class="flex-wrapper">
                <input
                  type="submit"
                  name="submit"
                  (click)="reset2()"
                  id="reset17"
                  value="Passwort speichern"
                />
              </div>
              <p>
                Noch nicht registriert?
                <a [routerLink]="['/registrierung']">Hier</a> klicken<br />
                <a (click)="password_reset_close()" class="reset">Einloggen</a>?
              </p>
            </div>

            <div style="clear:both;"><div></div></div>
          </div>
        </div>

        <div class="white">
          <div class="inner">
            <div class="inner-small login-submit">
              <div style="clear:both;"><div></div></div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- module end -->
  </div>

  <!-- image -->
  <div class="module full">
    <img
      src="https://diesdas.codersunlimited.de/diesdas/assets/images/_temp/image.jpg"
      alt="image"
      width=""
      height=""
      (load)="check()"
    />
  </div>
  <!-- image end -->

  <!-- image -->
  <div class="module black">
    <div class="inner inner-intended">
      <div class="left">
        <div class="inner-small">
          <h3>Newsletter</h3>

          <p>
            Melden Sie sich jetzt unverbindlich für unseren Newsletter an, um
            keine Highlights mehr zu verpassen. Wir halten Sie mit
            Produktneuheiten, Gerken Highlights, Rabattaktionen und vielen
            Weiteren Informationen auf dem Laufenden!
          </p>
        </div>
      </div>

      <div class="right">
        <div class="inner-small">
          <form>
            <input type="email" name="email" placeholder="E-Mail" />

            <div class="radio-checkbox-wrapper">
              <label
                >Durch Absenden dieses Formulars erklärst Du dich mit der
                Speicherung und Verarbeitung Deiner Daten einverstanden.
                <a href="#">Weitere Informationen zum Datenschutz</a>.
                <input
                  type="checkbox"
                  name="DSGVO"
                  value="OK"
                  required="required"
                />
                <span class="checkmark checkmark-checkbox"></span>
              </label>
              <div style="clear:both;"><div></div></div>
            </div>

            <input type="submit" name="submit" value="Abonnieren" />
          </form>
        </div>
      </div>

      <div style="clear:both;"><div></div></div>
    </div>
  </div>
  <!-- image end -->

  <div style="clear:both;"><div></div></div>
</div>
