<div class="modal" id="id_modal_datenblatt">
  <h3>Datenblatt</h3>
  <div class="datenblatt">
    <img src="https://picsum.photos/400" />
  </div>
</div>
<div class="modal" id="id_modal_bewerten">
  <h3>Ihre Miete bei Gerken bewerten</h3>

  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor.
  </p>

  <form onsubmit="event.preventDefault();">
    <h6>Service</h6>

    <div class="rating-stars text-center">
      <ul id="stars">
        <li class="star Service" title="Poor" data-value="1">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Service" title="Fair" data-value="2">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Service" title="Good" data-value="3">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Service" title="Excellent" data-value="4">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Service" title="WOW!!!" data-value="5">
          <i class="fa fa-star fa-fw"></i>
        </li>
      </ul>
    </div>

    <h6>Funktionalität</h6>

    <div class="rating-stars text-center">
      <ul id="stars">
        <li class="star Funktionalitat" title="Poor" data-value="1">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Funktionalitat" title="Fair" data-value="2">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Funktionalitat" title="Good" data-value="3">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Funktionalitat" title="Excellent" data-value="4">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Funktionalitat" title="WOW!!!" data-value="5">
          <i class="fa fa-star fa-fw"></i>
        </li>
      </ul>
    </div>

    <h6>Sauberkeit</h6>

    <div class="rating-stars text-center">
      <ul id="stars">
        <li class="star Sauberkeit" title="Poor" data-value="1">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Sauberkeit" title="Fair" data-value="2">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Sauberkeit" title="Good" data-value="3">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Sauberkeit" title="Excellent" data-value="4">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Sauberkeit" title="WOW!!!" data-value="5">
          <i class="fa fa-star fa-fw"></i>
        </li>
      </ul>
    </div>

    <h6>Pünktliche Lieferung</h6>

    <div class="rating-stars text-center">
      <ul id="stars">
        <li class="star Punktlichkeit" title="Poor" data-value="1">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Punktlichkeit" title="Fair" data-value="2">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Punktlichkeit" title="Good" data-value="3">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Punktlichkeit" title="Excellent" data-value="4">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Punktlichkeit" title="WOW!!!" data-value="5">
          <i class="fa fa-star fa-fw"></i>
        </li>
      </ul>
    </div>

    <h6>Bestellprozess</h6>

    <div class="rating-stars">
      <ul id="stars">
        <li class="star Bestellprozess" title="Poor" data-value="1">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Bestellprozess" title="Fair" data-value="2">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Bestellprozess" title="Good" data-value="3">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Bestellprozess" title="Excellent" data-value="4">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star Bestellprozess" title="WOW!!!" data-value="5">
          <i class="fa fa-star fa-fw"></i>
        </li>
      </ul>
    </div>

    <textarea name="textarea" id="comment" placeholder="Kommentar"></textarea>

    <div class="centered space">
      <input
        type="submit"
        (click)="bewerten()"
        name="submit"
        value="Bewertung abgeben"
      />
    </div>
  </form>

  <div style="clear:both;"><div></div></div>
</div>

<div class="modal" id="id_modal_info">
  <h3>Lorem ipsum dolor sit amet</h3>

  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
    amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
    diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
    clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
    amet.
  </p>

  <div style="clear:both;"><div></div></div>
</div>

<!-- title -->
<div class="module red">
  <div class="inner title">
    <h1 id="title">GL 27 M Hybrid LKW-Arbeitsbühne</h1>

    <div style="clear:both;"><div></div></div>
  </div>

  <div style="clear:both;"><div></div></div>
</div>

<!-- content -->
<div id="id_content">
  <!-- module -->
  <div class="module">
    <div class="inner no-padding">
      <section class="slider" id="id_main_slider">
        <div>
          <img
            src="https://diesdas.codersunlimited.de/diesdas/assets/images/_temp/product.jpg"
            data-index="0"
          />
        </div>
        <div>
          <img src="https://picsum.photos/1000" data-index="1" />
        </div>

        <div>
          <img src="https://picsum.photos/1100" data-index="2" />
        </div>

        <div>
          <img src="https://picsum.photos/1200" data-index="3" />
        </div>

        <div>
          <img src="https://picsum.photos/1300" data-index="4" />
        </div>

        <div>
          <img src="https://picsum.photos/1400" data-index="5" />
        </div>

        <div>
          <img src="https://picsum.photos/1500" data-index="6" />
        </div>

        <div>
          <img src="https://picsum.photos/1600" data-index="7" />
        </div>

        <div>
          <img src="https://picsum.photos/1700" data-index="8" />
        </div>
      </section>

      <div style="clear:both;"><div></div></div>
    </div>
  </div>
  <!-- module end -->

  <!-- module -->
  <div class="module module-detail">
    <div class="inner no-padding">
      <div class="left">
        <div class="top-info-wrapper" id="biswrapper">
          <ng-template [ngIf]="state == 'aktuell'">
            <div class="top-info">
              <span id="bis"
                >Gemietet bis {{ entry.enddatum.split('-')[2] }}.{{
                  entry.enddatum.split('-')[1]
                }}.{{ entry.enddatum.split('-')[0] }}</span
              >
            </div></ng-template
          >
          <ng-template [ngIf]="state == 'vergangen'">
            <div class="top-info">
              <span id="bis"
                >Zuletzt gemietet {{ entry.enddatum.split('-')[2] }}.{{
                  entry.enddatum.split('-')[1]
                }}.{{ entry.enddatum.split('-')[0] }}</span
              >
            </div></ng-template
          ><ng-template [ngIf]="state == 'no'"></ng-template>
        </div>

        <div class="highlight red no-margin">
          <h5 id="title2">GL 27 M Hybrid LKW-Arbeitsbühne</h5>

          <p id="description">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren.
          </p>
        </div>

        <div class="highlight lightgrey no-margin evaluate">
          <div class="left">
            <p class="stars" id="average">4,25/5</p>
          </div>

          <div class="right">
            <a
              data-fancybox
              data-src="#id_modal_bewerten"
              data-options='{"touch" : false}'
              href="javascript:void(0);"
              style="display:none"
              id="btn_bewert"
              >Jetzt bewerten</a
            >
          </div>

          <div style="clear: both;"><div></div></div>
        </div>
        <!--
        <div class="highlight grey">
          
          <a
            data-fancybox
            data-src="#id_modal_info"
            data-options='{"touch" : false}'
            href="javascript:void(0);"
            class="help"
            >Hilfe bei Problemen</a
          >
          
          <a [routerLink]="['faq/' + Produkt['slug']]" class="btn"
            >Hilfe bei Problemen</a
          >
        </div>
        -->
        <div class="red">
          <div class="module darkgrey">
            <div class="inner centered title">
              <a [routerLink]="['/faq/' + produktid]" class="btn"
                >Hilfe bei Problemen</a
              >
              <div style="clear:both;"><div></div></div>
            </div>

            <div style="clear:both;"><div></div></div>
          </div>
        </div>
        <div class="accordeon-wrapper">
          <ul class="detail accordeon">
            <li>
              <input type="checkbox" class="accordeon-checkbox" checked />
              <a href="javascript:void(0);" class="accordeon-link">Daten</a>
              <div class="content">
                <div class="content-inner" id="daten">
                  <!--
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit
                  esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                  occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum.
                </p>

                <div class="video-wrapper">
                  <video
                    controls
                    src="https://diesdas.codersunlimited.de/diesdas/assets/test.mp4"
                    type="video/mp4"
                  ></video>
                </div>
                -->
                  <div style="clear: both;"><div></div></div>
                </div>
              </div>
            </li>

            <li id="videos">
              <input type="checkbox" class="accordeon-checkbox" checked />
              <a href="javascript:void(0);" class="accordeon-link"
                >Produktvideos</a
              >
              <div class="content">
                <div class="content-inner" id="produktvideo">
                  <!--
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
              </p>

              <div class="video-wrapper">
                <video
                  controls
                  src="https://diesdas.codersunlimited.de/diesdas/assets/test.mp4"
                  type="video/mp4"
                ></video>
              </div>
              -->
                  <div style="clear: both;"><div></div></div>
                </div>
              </div>
            </li>

            <li id="vorteile">
              <input type="checkbox" class="accordeon-checkbox" checked />
              <a href="javascript:void(0);" class="accordeon-link"
                >Besonderheiten</a
              >
              <div class="content">
                <div class="content-inner" id="vorteil">
                  <!--
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit
                  esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                  occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum.
                </p>
                -->
                  <div style="clear: both;"><div></div></div>
                </div>
              </div>
            </li>

            <li id="anleitungen">
              <input type="checkbox" class="accordeon-checkbox" checked />
              <a href="javascript:void(0);" class="accordeon-link"
                >Anleitungen</a
              >
              <div class="content">
                <div class="content-inner">
                  <!--
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit
                  esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                  occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum.
                </p>
                -->
                  <div style="clear: both;"><div></div></div>
                </div>
              </div>
            </li>
            <li id="bewertungen">
              <input type="checkbox" class="accordeon-checkbox" checked />
              <a href="javascript:void(0);" class="accordeon-link">Bewertung</a>
              <div class="content">
                <div class="content-inner bewertung" id="bewertung">
                  <!--
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
              </p>
              -->
                  <div style="clear: both;"><div></div></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="centered" style="padding-top:30px">
          <a [routerLink]="['/']" id="back" class="btn">Zurück</a>
        </div>
      </div>

      <div class="right">
        <div id="id_slider_nav_position"></div>

        <section class="slider-nav" id="slider-nav">
          <div>
            <a href="javascript:void(0);" data-slide="1"
              ><img src="https://picsum.photos/1000"
            /></a>
          </div>

          <div>
            <a href="javascript:void(0);" data-slide="2"
              ><img src="https://picsum.photos/1100"
            /></a>
          </div>

          <div>
            <a href="javascript:void(0);" data-slide="3"
              ><img src="https://picsum.photos/1200"
            /></a>
          </div>

          <div>
            <a href="javascript:void(0);" data-slide="4"
              ><img src="https://picsum.photos/1300"
            /></a>
          </div>

          <div>
            <a href="javascript:void(0);" data-slide="5"
              ><img src="https://picsum.photos/1400"
            /></a>
          </div>

          <div>
            <a href="javascript:void(0);" data-slide="6"
              ><img src="https://picsum.photos/1500"
            /></a>
          </div>

          <div>
            <a href="javascript:void(0);" data-slide="7"
              ><img src="https://picsum.photos/1600"
            /></a>
          </div>

          <div>
            <a href="javascript:void(0);" data-slide="8"
              ><img src="https://picsum.photos/1700"
            /></a>
          </div>
          <div>
            <a href="javascript:void(0);" data-slide="9"
              ><img
                src="https://diesdas.codersunlimited.de/diesdas/assets/images/_temp/product.jpg"
            /></a>
          </div>
        </section>
        <ng-template [ngIf]="state != 'no'">
          <div class="highlight grey">
            <div class="left-1-3">
              <h6>Maschinenstandort</h6>

              <p id="Maschinenstandort">
                {{ entry.standort.name }}<br />
                {{ entry.standort.strasse }} {{ entry.standort.hausnummer
                }}<br />
                {{ entry.standort.plz }} {{ entry.standort.stadt }}<br />
                {{ entry.standort.land }}<br />
              </p>
            </div>

            <div class="right-2-3">
              <a href="#" class="btn btn-outline">Fernüberwachung</a>
            </div>

            <div style="clear:both;"><div></div></div>
          </div>
        </ng-template>
        <div class="highlight red">
          <ng-template [ngIf]="state == 'aktuell'"
            ><a [routerLink]="[dest, produktid]" class="btn btn-outline"
              >Miete verlängern</a
            ></ng-template
          >
          <ng-template [ngIf]="state == 'vergangen'"
            ><a [routerLink]="[dest, produktid]" class="btn btn-outline"
              >Erneut mieten</a
            ></ng-template
          ><ng-template [ngIf]="state == 'no'"
            ><a [routerLink]="[dest, produktid]" class="btn btn-outline"
              >Mieten</a
            ></ng-template
          >

          <a
            href="https://diesdas.codersunlimited.de/diesdas/api/testing/Rechnungen/Rechnung{{
              last
            }}.txt"
            class="btn btn-outline"
            target="_blank"
            >Rechnung anzeigen</a
          >

          <a [routerLink]="['/mietprozess']" class="btn"
            >Neues Produkt finden</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- module end -->

  <!-- image -->
  <div class="module full" style="z-index:-9">
    <img
      src="https://diesdas.codersunlimited.de/diesdas/assets/images/_temp/image.jpg"
      alt="image"
      width=""
      height=""
      (load)="onload()"
    />
  </div>
  <!-- image end -->

  <!-- image -->
  <div class="module black">
    <div class="inner inner-intended">
      <div class="left">
        <div class="inner-small">
          <h3>Newsletter</h3>

          <p>
          Melden Sie sich jetzt unverbindlich für unseren Newsletter an, um keine Highlights mehr zu verpassen. Wir halten Sie mit Produktneuheiten, Gerken Highlights, Rabattaktionen und vielen Weiteren Informationen auf dem Laufenden!
          </p>
        </div>
      </div>

      <div class="right">
        <div class="inner-small">
          <form>
            <input type="email" name="email" placeholder="E-Mail" />

            <div class="radio-checkbox-wrapper">
              <label
                >Durch Absenden dieses Formulars erklärst Du dich mit der
                Speicherung und Verarbeitung Deiner Daten einverstanden.
                <a href="#">Weitere Informationen zum Datenschutz</a>.
                <input
                  type="checkbox"
                  name="DSGVO"
                  value="OK"
                  required="required"
                />
                <span class="checkmark checkmark-checkbox"></span>
              </label>
              <div style="clear:both;"><div></div></div>
            </div>

            <input type="submit" name="submit" value="Abonnieren" />
          </form>
        </div>
      </div>

      <div style="clear:both;"><div></div></div>
    </div>
  </div>
  <!-- image end -->

  <div style="clear:both;"><div></div></div>
</div>
